<?xml version="1.0"?>
<!DOCTYPE phpunit>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">./</directory>
    </include>
  </coverage>
  <testsuite name="All Tests">
    <directory>.</directory>
  </testsuite>
</phpunit>
